html{
  position: relative;
  min-height: 100%;
}

body{
  color: purple;

  &::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right bottom, #58488a, #6299c9);
    z-index: -1;
  }

  &::after{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(static('/img/braden_marshall/static/img/tiles/2d-squares.png'));
    z-index: 2;
  }
}
