/*
 Author: Braden Marshall
 Description: A few usefull classes for lists.
*/
// Config

// Main
ul, ol {
	&.l-list--reset {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
	}
}