# My additions
# PyCharm project development
.idea/
# Auxiliary files created during compilation of SASS files
/.sass-cache/
# Project's installed Bower components
/bower_components/
# Project's install Node modules
/node_modules/
# Project's Python virtual-environment
/venv_bradenmarshall/
# Collected static-files
static/
# Project's database - could contain sensitive information
*.sqlite3
# For activation of our pyvenv environment
activate.bat
# User-specific data, such as the open files and the modifications to each.
bradenmarshall.co.uk.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
