{
  "ignoreFiles": "node_modules/**/*.css",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "plugin/selector-bem-pattern": {
       "preset": "bem"
    },
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "lost-utility",
          "lost-flex-container",
          "lost-center",
          "lost-align",
          "lost-column",
          "lost-row",
          "lost-waffle",
          "lost-offset",
          "lost-move",
          "lost-masonry-wrap",
          "lost-masonry-column"
        ]
      }
    ]
  }
}
