{
  "ignoreFiles": "node_modules/**/*.css",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "plugin/selector-bem-pattern": {
       "preset": "bem"
    }
  }
}
