/*
 Description: Main components of site.
 Author: Braden Marshall
*/
// Config
$m-block--fill-background-color: $l-site__content-background-color;

// Main
.block {
  &--fill {
    background-color: $m-block--fill-background-color;
  }
}
