/*
 Description: A copyright stamp to be placed at the end of a footer.
 Author: Braden Marshall
*/
// Config
$m-copyright-background-color: $l-site__footer-background-color;
$m-copyright-font-color: mix($l-site__footer-font-color, $m-copyright-background-color, 60%);

// Main
.m-copyright {
  padding-top: 32px;
  text-align: center;
  background-color: $m-copyright-background-color;

  &, &__name {
    color: $m-copyright-font-color;
  }

  &__name {
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: darken($m-copyright-font-color, 20%);
    }
  }
}
