/*
 Author: Braden Marshall
 Description: A copyright stamp to be placed at the end of a footer.
*/
// Config
$m-copyright-breakpoint-tablet: $l-site-breakpoint-tablet;
$m-copyright-border-width: $l-site__footer-border-width;
$m-copyright-border-width--tablet: $l-site__footer-border-width--tablet;
$m-copyright-color-background: $l-site__footer-color-border;
$m-copyright-color-font: mix($l-site__footer-color-font, $m-copyright-color-background, 60%);

// Main
.m-copyright {
  height: $m-copyright-border-width;
  line-height: height;
  text-align: center;
  background-color: $m-copyright-color-background;

  @include breakpoint($m-copyright-breakpoint-tablet) {
    height: $m-copyright-border-width--tablet;
    line-height: height;
  }
  &, &__name {
    color: $m-copyright-color-font;
  }
  &__name {
    text-decoration: none;
    &:hover {
      font-weight: bold;
      color: darken($m-copyright-color-font, 20%);
    }
  }
}
