/*
 Author: Braden Marshall
 Description: A nice little login form.
*/

// Config
$m-loginform-width-max: $l-site-width-max;
$m-loginform-margin: 64px;
$m-loginform-breakpoint-tablet: $l-site-breakpoint-tablet;

$m-loginform-input-height: 40px;
$m-loginform-input-color-background: #2D4059;

$m-loginform-color-background: $l-site__content-color-background;

$m-loginform__block-color-font: $l-site__content-color-font;

// Main
#m-loginform {
  width: 100%;
  margin-bottom: $m-loginform-margin;
  max-width: $m-loginform-width-max / 3;
  margin-left: auto;
  margin-right: auto;

  > form {
    > fieldset {
      margin-left: 0;
      margin-right: 0;
      padding: 6px;

      border: none;
      background-color: $m-loginform-color-background;
    }
  }

  @include breakpoint($m-loginform-breakpoint-tablet){
    margin-top: $m-loginform-margin;
  }

  .m-loginform__block {
    padding: 6px;
    background-color: purple;

    &#m-loginform__title{
      > legend {
        width: 100%;
        text-align: center;

        > h1 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &#m-loginform__signup{
      
    }
  }

  #m-loginform__username input, #m-loginform__password input, #m-loginform__submit {
    height: $m-loginform-input-height;
    margin-bottom: 8px;
  }

  #m-loginform__username, #m-loginform__password {
    > label {
      display: block;

      > div, > input{
        float: left;
        background-color: $m-loginform-input-color-background;
      }

      > div {
        width: 10%;
        display: inline-block;
        line-height: $m-loginform-input-height;
        text-align: center;

        > span {
          display: none;
        }
      }

      > input {
        width: 90%;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  #m-loginform__username {
  }

  #m-loginform__password {

  }

  #m-loginform__remember {
    display: inline-block;
  }

  #m-loginform__submit {
    width: 100%;
    display: block;
    background-color: green;
  }

  #m-loginform__forgotpass{
    float: right;
  }

  #m-loginform__signup {
    > a {
      float: right;
    }
  }
}