/*
 Description: A row which contains a centered rotated square with a logo.
 Author: Braden Marshall
*/
// Config
$m-logorow-height-unitless: 24;
$m-logorow-height: $m-logorow-height-unitless * 1px;
$m-logorow__box-size: ceil(pow($m-logorow-height-unitless, 1.61803398875) / 2) * 1px;
$m-logorow-border-width: ceil($m-logorow__box-size - ($m-logorow-height * 1.5));
$m-logorow-border-top-color: $l-site__content-background-color;
$m-logorow-border-bottom-color: $l-site__footer-background-color;
$m-logorow__box__bg-background-color: darken($m-logorow-border-top-color, 5%);

// Main
.m-logorow {
  position: relative;
  width: 100%;
  height: $m-logorow-height;
  box-sizing: initial;
  border-top: $m-logorow-border-width $m-logorow-border-top-color solid;
  border-bottom: $m-logorow-border-width $m-logorow-border-bottom-color solid;

  &__box {
    position: absolute;
    top: -(( $m-logorow__box-size - $m-logorow-height ) / 2);
    right: 0;
    bottom: 0;
    left: 0;
    width: $m-logorow__box-size;
    height: $m-logorow__box-size;
    margin: auto;

    &__bg {
      width: 100%;
      height: 100%;
      background-color: $m-logorow__box__bg-background-color;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .4);

      html.csstransforms & {
        transform: rotate(45deg);
        transform-origin: center;
      }
    }


    &__logo {
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      font-size: 4em;
      line-height: $m-logorow__box-size;
      text-align: center;
    }
  }
}
