/** @define SiteContent */

/* Style */
.SiteContent {
  & .SiteContent__block {
    padding: var(--size-padding-large);
    background-color: var(--color-background);
    box-shadow: var(--shadow-medium);
  }
}
