/*
 Author: Braden Marshall
 Description: A simple module to apply a gradient ontop of a background image
*/
// Config
$m-bgoverlay-over-bg: url(static('img/gplay_inverted.png')) fixed;
$m-bgoverlay-under-bg: linear-gradient(to bottom, #EB9532,  #F9690E);

// Main
.m-bgoverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  background: $m-bgoverlay-under-bg;

  &__over {
    content: "";
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: $m-bgoverlay-over-bg;
    opacity: 0.2;
  }
}
