/*
 Author: Braden Marshall
 Description: Main components of site.
*/
// Config
$m-block-breakpoint-tablet: $l-site-breakpoint-tablet;

$m-block--fill-color-background: $l-site__content-color-background;
$m-block--fill-border-color: $l-site__content-color-border;
$m-block--fill-border-width: $l-site__content-border-width;
$m-block--fill-border-width--tablet: $l-site__content-border-width--tablet;

// Main
.block {
	&.block--fill {
		padding: 10px;
		background-color: $m-block--fill-color-background;
		border-right: $m-block--fill-border-width solid $l-site__content-color-border;
		border-left: $m-block--fill-border-width solid $l-site__content-color-border;

		@include breakpoint($m-block-breakpoint-tablet) {
			border-width: $m-block--fill-border-width--tablet;
		}
	}

	&:last-of-type {
		padding-bottom: 24px;
	}
}