/*
 Author: Braden Marshall
 Description: An area to give an overview/preview of a blog post.
*/

// Config
$m-blogpostpreview__header-color: basecolor("accent");

// Main
.m-blog-post-preview {
    > header {
        > h1 {
            color: $m-blogpostpreview__header-color;
        }

        > p {}
    }

    > section {}
}