/** @define BlogSite */

/* Layout */
.BlogSite {
  @media (--screen-large) {
    lost-utility: clearfix;

    & .BlogSite__main {
      lost-column: 3/4;
    }

    & .BlogSite__aside {
      lost-column: 1/4;
    }
  }
}
