/** @define BlogPreviewListing */

/* Layout */
.BlogPreviewListing {
  padding: 5px;

  & > .BlogPreviewListing__header {
    & > .BlogPreviewListing__byLine {
      font-size: var(--font-small);

      & > .BlogPreviewListing__address {
        display: inline-block;
      }
    }
  }
}

/* Style */
.BlogPreviewListing {
  & .BlogPreviewListing__img {
    border-radius: 4px;
  }
}
