/** @define BlogPreviewList */

/* Config */
:root {
  --BlogPreviewList-header-margin: var(--size-padding-large);
  --BlogPreviewList-seperator-color: var(--color-background-dark);
  --BlogPreviewList-seperator-margin: var(--size-padding-large);
  --BlogPreviewList-seperator-width: 95%;
  --BlogPreviewList-seperator-height: 1px;
}

/* Layout */
.BlogPreviewList {
  padding: var(--size-padding-medium);

  & > .BlogPreviewList__header {
    margin-bottom: var(--BlogPreviewList-header-margin);

    & > .BlogPreviewList__byLine {
      lost-utility: clearfix;

      & > .BlogPreviewList__controls {
        & > .BlogPreviewList__searchForm {
          width: 100%;
        }
      }
    }
  }

  & > .BlogPreviewList__listing {
    &:not(:last-of-type)::after {
      display: block;
      margin: var(--BlogPreviewList-seperator-margin) auto;
      width: var(--BlogPreviewList-seperator-width);
      height: var(--BlogPreviewList-seperator-height);
      content: "";
    }
  }
}

/* Style */
.BlogPreviewList {
  & > .BlogPreviewList__listing:not(:last-of-type)::after {
    background-color: var(--BlogPreviewList-seperator-color);
  }
}
