/** @define SiteNavigation */

/* Reset */
.SiteNavigation {
  & > .SiteNavigation__list {
    margin-top: 0; /* Reset UL */
    margin-bottom: 0; /* Reset UL */
    padding-left: 0; /* Reset UL */
    list-style: none;
  }
}

/* Layout */
.SiteNavigation {
  & > .SiteNavigation__list {
    & > .SiteNavigation__listItem {
      padding-right: var(--size-padding-large);
      padding-left: var(--size-padding-large);

      & .SiteNavigation__textLink {
        display: block;
        padding-top: var(--size-padding-medium);
        padding-bottom: var(--size-padding-medium);
        text-align: center;
      }
    }
  }

  @media (--screen-xsmall) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: var(--size-padding-large);

    & > .SiteNavigation__logo {
      flex-basis: 100%;
      order: 0;
    }

    & > .SiteNavigation__list {
      flex-grow: 1;
      margin-right: var(--size-padding-large);
      margin-left: var(--size-padding-large);

      &_left {
        order: 1;
        padding-right: 0;
      }

      &_right {
        order: 2;
        padding-left: 0;
      }

      & > .SiteNavigation__listItem {
        display: inline-block;
        float: left;
        width: 33.33%;
      }
    }
  }

  @media (--screen-small) {
    & > .SiteNavigation__list {
      display: flex;
      flex-basis: 0;
      flex-wrap: wrap;

      & > .SiteNavigation__listItem {
        flex-basis: 50%;

        &:first-of-type {
          flex-basis: 100%;
        }
      }
    }
  }

  @media (--screen-medium) {
    flex-wrap: nowrap;

    & > .SiteNavigation__logo {
      flex-basis: auto;
      order: 1;
    }

    & > .SiteNavigation__list {
      & > .SiteNavigation__listItem {
        flex-basis: auto;

        &:first-of-type {
          flex-basis: auto;
        }
      }

      &_left {
        order: 0;
        margin-left: 0;

        & > .SiteNavigation__listItem .SiteNavigation__textLink {
          text-align: left;
        }
      }

      &_right {
        margin-right: 0;

        & > .SiteNavigation__listItem .SiteNavigation__textLink {
          text-align: right;
        }
      }
    }
  }
}

/* Style */
.SiteNavigation {
  & > .SiteNavigation__list {
    & > .SiteNavigation__listItem {
      & .SiteNavigation__textLink {
        border-bottom: 1px solid #181818;
        color: #181818;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        font-family: var(--font-navigation);
      }
    }
  }

  @media (--not-xsmall) {
    & > .SiteNavigation__list:last-of-type {
      & > .SiteNavigation__listItem:last-of-type > .SiteNavigation__textLink {
        border-bottom: none;
      }
    }
  }

  @media (--screen-xsmall) {
    & > .SiteNavigation__list {
      background-color: white;
      box-shadow: var(--shadow-medium);

      & > .SiteNavigation__listItem {
        & .SiteNavigation__textLink {
          transition: letter-spacing 125ms ease-in;

          &::after {
            padding-bottom: 1px;
          }

          &:hover {
            color: black;
            letter-spacing: 2.5px;

            &::after {
              padding-bottom: 0;
              border-bottom-width: 2px;
            }
          }
        }
      }
    }
  }

  @media (--screen-xsmall) and (--not-small) {
    & > .SiteNavigation__list {
      &:last-of-type > .SiteNavigation__listItem > .SiteNavigation__textLink {
        border-bottom: none;
      }
    }
  }

  @media (--screen-small) and (--not-medium) {
    & > .SiteNavigation__list {
      & > .SiteNavigation__listItem:not(:first-of-type) > .SiteNavigation__textLink {
        border-bottom: none;
      }
    }
  }

  @media (--screen-medium) {
    & > .SiteNavigation__list {
      &_left {
        border-top-right-radius: 4px;
      }

      &_right {
        border-top-left-radius: 4px;
      }

      & > .SiteNavigation__listItem > .SiteNavigation__textLink {
        border-bottom: none;

        &::after {
          display: block;
          border-bottom: 1px solid #181818;
          content: "";
        }
      }
    }
  }
}
