/** @define SiteNavigation */

/* Reset */
.SiteNavigation {
  & > .SiteNavigation__list {
    margin-top: 0; /* Reset UL */
    margin-bottom: 0; /* Reset UL */
    padding-left: 0; /* Reset UL */
    list-style: none;
  }
}

/* Layout */
.SiteNavigation {
  & > .SiteNavigation__list {
    display: flex;
    flex-direction: column;
    padding-right: var(--size-padding-large);
    padding-left: var(--size-padding-large);

    @media (--screen-small) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
    }

    & .SiteNavigation__logoHeading {
      display: block;
    }

    & > .SiteNavigation__listItem {
      @media (--screen-small) {
        &_left,
        &_right {
          flex: 1;
        }

        &_logo {
          flex-basis: 33.33%;
          order: 0;
        }

        &_left {
          order: -1;
          margin-right: var(--size-padding-large);

          & .SiteNavigation__textLink {
            padding-right: var(--size-padding-large);
          }
        }

        &_right {
          order: 1;
          margin-left: var(--size-padding-large);

          & .SiteNavigation__textLink {
            padding-left: var(--size-padding-large);
          }
        }
      }

      & .SiteNavigation__textLink {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;

        @media (--screen-small) {
          margin-bottom: var(--size-padding-medium);
          padding-bottom: 0;
        }
      }
    }
  }
}

/* Style */
.SiteNavigation {
  & > .SiteNavigation__list {
    & > .SiteNavigation__listItem {
      text-align: center;

      @media (--screen-small) {
        &_left {
          text-align: left;
        }

        &_right {
          text-align: right;
        }
      }

      & .SiteNavigation__textLink {
        border-bottom: 1px solid white;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        font-family: var(--font-navigation);
      }
    }
  }
}
