{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Braden Marshall</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'base/css/main.css' %}" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="Site">
      <header class="SiteHeader">
        <nav class="SiteNavigation SiteHeader__nav" role="navigation">
          <div class="m-burgermenu"><span></span></div>

          <div class="SiteNavigation__logo BradenLogo">
            <img class="BradenLogo__img" src="http://builtbybuffalo.com/assets/img/logo-plain@2x.png" />
          </div>

          <ul class="SiteNavigation__list SiteNavigation__list_left">
            <li class="SiteNavigation__listItem">
              <a class="SiteNavigation__textLink" href="/#home">Home</a>
            </li>
            <li class="SiteNavigation__listItem">
              <a class="SiteNavigation__textLink" href="/#blog">Blog</a>
            </li>
            <li class="SiteNavigation__listItem">
              <a class="SiteNavigation__textLink" href="/#projects">Projects</a>
            </li>
          </ul>

          <ul class="SiteNavigation__list SiteNavigation__list_right">
            <li class="SiteNavigation__listItem">
              <a class="SiteNavigation__textLink" href="/#about">About</a>
            </li>
            <li class="SiteNavigation__listItem">
              <a class="SiteNavigation__textLink" href="/#contact">Contact</a>
            </li>
            <li class="SiteNavigation__listItem">
              {% if user.is_authenticated %}
                <a class="SiteNavigation__textLink" href="{% url "account_logout" %}">Account <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              {% else %}
                <a class="SiteNavigation__textLink" href="{% url "account_login" %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </header>

      <main class="SiteContent">
        {% block main %}

        {% endblock %}
      </main>

      {% block footer %}
        <footer class="SiteFooter">
          <div class="SiteFooter__seperator SiteFooter__logoContainer">
              <svg class="SiteFooter__logo bradenIconLogo" width="96" height="96">

              </svg>
          </div>
          <ul class="SiteFooter__list">
            <li class="SiteFooter__listItem">
              <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
            </li>
            <li class="SiteFooter__listItem">
              <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
            </li>
            <li class="SiteFooter__listItem">
              <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
            </li>
          </ul>

          <div class="SiteFooter__copyright">
            &copy;
            {% now "Y" %}
            <a class="SiteFooter__name" href="http://www.bradenmarshall.co.uk/">Braden Marshall</a>. All rights reserved
          </div>
        </footer>
      {% endblock %}
    </div>

    <div class="BGOverlay">
      <div class="BGOverlay__overlay parallax" data-parallax="-8"></div>
    </div>

    <script src="{% static 'base/js/main.js' %}" type="text/javascript"></script>
  </body>

</html>
