/*
 Author: Braden Marshall
 Description: Main layout components of the site
 Dependencies: Foundation 5
*/
// Config
$l-site__content-background-color: $base-background-color;
$l-site__content-font-color: $base-font-color;
$l-site__footer-background-color: $l-site__content-background-color;
$l-site__footer-font-color: $l-site__content-font-color;

// Main
#l-site {
  position: relative;
  &__content {
    &__main {
      margin-top: 24px;
      color: $l-site__content-font-color;
      border-top: 32px solid $l-site__content-background-color;
    }
  }


  &__footer {
    color: $l-site__footer-font-color;
    background-color: $l-site__footer-background-color;
  }
}
