/*
 Description: A big 'hero' box.
 Author: Braden Marshall
*/
// Config
$m-stickyfooter-height: 256px;

// Main
.m-stickyfooter{
  height: 100%;

  &__wrap{
    min-height: 100%;
    margin-bottom: -($m-stickyfooter-height);
  }

  &__wrap:after {
    content: "";
    display: block;
  }

  &__wrap:after, &__footer {
    height: $m-stickyfooter-height;
  }

  &__footer{
    background: orange;
  }
}
