{% extends "base.html" %}

{% block main %}
<article class="BlogPreviewList SiteContent__block">
  <header class="BlogPreviewList__header">
    <h1 class="BlogPreviewList__headLine">Blog Posts</h1>
    <div class="BlogPreviewList__byLine">
      <div class="BlogPreviewList__postCount">
        Showing <em>{{ page_obj.start_index }}</em> to <em>{{ page_obj.end_index }}</em> of {{ page_obj.paginator.count }} posts
      </div>
      <div class="BlogPreviewList__controls">
        <button class="BlogPreviewList__gridButton" type="button">
          <i class="fa fa-th" aria-hidden="true"></i>
        </button>
        <button class="BlogPreviewList__barButton" type="button">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </header>

  {% for blog_post in object_list %}
    <article class="BlogPreviewList__listing BlogPreviewListing">
      <header class="BlogPreviewListing__header">
        <img class="BlogPreviewListing__img" src="https://d3ui957tjb5bqd.cloudfront.net/uploads/images/3/38/38505.homepage.jpg?1472654077" width="270" height="180" alt="XYZ" />
        <h1 itemProp="headline" class="BlogPreviewListing__headLine">{{ blog_post.title }}</h1>
        <section class="BlogPreviewListing__byLine">
          <address class="BlogPreviewListing__address">
            By <a rel="author" href="www.bradenmarshall.co.uk">{{ blog_post.author }}</a>
          </address>
          <span class="Delimiter">•</span>
          <time pubdate dateTime="{{ blog_post.publish }}">{{ blog_post.publish }}</time>
        </section>
      </header>
      <p class="BlogPreviewListing__content">{{ blog_post.excerpt }}</p>
      <footer class="BlogPreviewListing__footer">
        <a href="#more">Continue reading...</a>
      </footer>
    </article>
  {% empty %}
    <p>Sorry, no blog posts exist!</p>
  {% endfor %}

  {% if is_paginated %}
    <nav class="Pagination">
      <ul class="Pagination__list">
        {% if page_obj.has_previous %}
          <li class="Pagination__listItem Pagination__listItem_previous">
            <a class="Pagination__listItemLink" href="/blog?page={{ page_obj.previous_page_number }}">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
          </li>
        {% else %}
          <li class="Pagination__listItem Pagination__listItem_previous Pagination__listItem_disabled">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </li>
        {% endif %}

        {% for item in 'xxXxx' %}
          {% with page=forloop.counter %}
            <li class="Pagination__listItem{% if page == page_obj.number %} Pagination__listItem_current{% endif %}">
              <a class="Pagination__listItemLink" href="/blog?page={{ page }}">{{ page }}</a>
            </li>
          {% endwith %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="Pagination__listItem Pagination__listItem_next">
            <a  class="Pagination__listItemLink" href="/blog?page={{ page_obj.next_page_number }}">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
        {% else %}
          <li class="Pagination__listItem Pagination__listItem_next Pagination__listItem_disabled">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </li>
        {% endif %}
      </span>
    </nav>
  {% endif %}
</article>
{% endblock %}
