<article className={classNamesStr}>
  <header className="BlogPreviewListing__header">
    <img
      className="BlogPreviewListing__img"
      src={picture}
      width="270"
      height="180"
      alt="XYZ"
    />
    <h1 itemProp="headline" className="BlogPreviewListing__headLine">{ title }</h1>
    <section className="BlogPreviewListing__byLine">
      <address className="BlogPreviewListing__address">
        By <a rel="author" href="www.bradenmarshall.co.uk">{ author }</a>
      </address>
      <span className="Delimiter">•</span>
      <time pubdate dateTime={date}>{ date }</time>
    </section>
  </header>
  <p className="BlogPreviewListing__content">{ text }</p>
  <footer className="BlogPreviewListing__footer">
    <a href="#more">Continue reading...</a>
  </footer>
</article>
