<nav class="Pagination">
  <ul class="Pagination__list">
    {% for page in page_list %}
        {% if page == None and not forloop.first and not forloop.last %}
          <li class="Pagination__listItem">&hellip;</li>
        {% else %}
          <li class="Pagination__listItem{% if page == None %} Pagination__listItem_disabled{% elif page == page_current %} Pagination__listItem_current{% endif %}">
            <a class="Pagination__listItemLink" href="/blog?page={{ page }}">
              {% if forloop.counter == 1  %}
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              {% elif forloop.counter == page_list|length  %}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              {% else %}
                {{ page }}
              {% endif %}
            </a>
          </li>
        {% endif %}
    {% endfor %}
  </span>
</nav>
